In [1]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Create a sample dataset
data = pd.DataFrame({
    'square_footage': [1500, 1800, 2400, 3000, 3500, 4000, 4500, 2000, 2200, 3200],
    'num_bedrooms': [3, 3, 4, 4, 5, 5, 6, 3, 3, 4],
    'house_age': [10, 15, 20, 5, 8, 12, 25, 20, 18, 6],
    'house_price': [300000, 350000, 500000, 600000, 650000, 700000, 750000, 400000, 420000, 580000]
})

# Display the first few rows
print(data.head())

   square_footage  num_bedrooms  house_age  house_price
0            1500             3         10       300000
1            1800             3         15       350000
2            2400             4         20       500000
3            3000             4          5       600000
4            3500             5          8       650000

In [3]:
# Define predictors (independent variables) and response (dependent variable)
X = data[['square_footage', 'num_bedrooms', 'house_age']]  # Independent variables
X = sm.add_constant(X)  # Add a constant for the intercept
y = data['house_price']  # Dependent variable


# Verify shape
print(X.shape, y.shape)

(10, 4) (10,)

In [4]:
X

   const  square_footage  num_bedrooms  house_age
0    1.0            1500             3         10
1    1.0            1800             3         15
2    1.0            2400             4         20
3    1.0            3000             4          5
4    1.0            3500             5          8
5    1.0            4000             5         12
6    1.0            4500             6         25
7    1.0            2000             3         20
8    1.0            2200             3         18
9    1.0            3200             4          6

In [5]:
# Fit the Multiple Linear Regression model
model = sm.OLS(y, X).fit()

# Print the model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            house_price   R-squared:                       0.975
Model:                            OLS   Adj. R-squared:                  0.963
Method:                 Least Squares   F-statistic:                     79.16
Date:                Mon, 16 Jun 2025   Prob (F-statistic):           3.24e-05
Time:                        20:30:34   Log-Likelihood:                -114.61
No. Observations:                  10   AIC:                             237.2
Df Residuals:                       6   BIC:                             238.4
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const            1.02e+05    4.8e+04      2.125      0.078   -1.54e+04    2.19e+05
square_footage   140.5529     35.012      4.014      0.007      54.881     226.225
num_bedrooms    1.263e+04   3.32e+04      0.381      0.716   -6.85e+04    9.38e+04
house_age      -1615.4237   1523.778     -1.060      0.330   -5343.974    2113.126
==============================================================================
Omnibus:                        0.759   Durbin-Watson:                   1.221
Prob(Omnibus):                  0.684   Jarque-Bera (JB):                0.619
Skew:                           0.490   Prob(JB):                        0.734
Kurtosis:                       2.274   Cond. No.                     1.71e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\aleja\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  res = hypotest_fun_out(*samples, **kwds)